$main-color: #9356dc;
$secondary-color: #FF79DA;
$third-color: #99e2d0;
$bg-footer-color: #353535;
$txt-footer-color: #FFFFFF;
$main-bg-color: #F6F6F6;

$main-font: 'Roboto';
$secondary-font: 'Shrikhand';

